version: "3.9"

services:
  db:
    image: postgres:15
    container_name: ritapi_db
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    networks:
      - appnet

  redis:
    image: redis:7
    container_name: ritapi_redis
    ports:
      - "6379:6379"
    networks:
      - appnet
    restart: always

  backend:
    build:
      context: ./backend
    container_name: ritapi_backend
    ports:
      - "7003:7003"
    networks:
      - appnet
    restart: always

  web:
    build: .
    container_name: ritapi_django
    command: >
      sh -c "./wait-for-db.sh db 'python manage.py migrate && \
      python manage.py collectstatic --noinput && \
      python manage.py runserver 0.0.0.0:8013'"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - backend
    ports:
      - "8013:8013"
    networks:
      - appnet
    restart: always

  celery:
    build: .
    container_name: ritapi_celery
    command: celery -A ritapi_plugin worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - backend
    networks:
      - appnet
    restart: always

  celery_beat:
    build: .
    container_name: ritapi_celery_beat
    command: celery -A ritapi_plugin beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - backend
    networks:
      - appnet
    restart: always

  nginx:
    image: nginx:latest
    container_name: ritapi_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    networks:
      - appnet
    restart: always

volumes:
  pg_data:

networks:
  appnet:
    driver: bridge
